<footer class="footer">
  <div class="container-fluid">
    <p>Webサイト担当：<a href="https://twitter.com/morningmist7" target="_blank" style="color:#ffffff"><img src="http://furyu.nazo.cc/twicon/morningmist7/mini" alt="" style="vertical-align: middle; margin:0 2px 0 2px;">WAGATSUMA.T</a>
    </p>
    <p class="_text-muted">Copyright(C) 仙台市卓球協会 All rights reserved.</p>
  </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
